.flex {
    display: flex;
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.m-b-16 {
    margin-bottom: 16px;
}

.m-t-16 {
    margin-top: 16px;
}

.mr {
    margin-right: 10px;
}