/* Reset */
html,
body,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

.btn-display-map {
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}

.modal-content input:focus,
.btn:focus {
  outline: none;
}

#map {
  width: 50%;
  height: 100vh;
  right: 0;
  position: absolute;
}

body,
html {
  font-family: sans-serif;
  font-size: 62.5%;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.m-b-16 {
  margin-bottom: 16px;
}

.m-t-16 {
  margin-top: 16px;
}

section {
  position: absolute;
  flex-direction: column;
  width: 50%;
  background: white;
  z-index: 10;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.content-restaurant img {
  width: 100%;
}

.content-restaurant li {
  list-style: none;
  font-size: 17px;
  padding: 12px 0;
  border-bottom: 1px solid #ececec;
}

.container-restaurant {
  padding: 2rem;
}

.container-restaurant h2 {
  font-size: 2.4rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.container-restaurant p {
  font-size: 1.6rem;
  color: #545454;
}

/* MODAL */
.modal-add-restaurant {
  position: absolute;
  background: white;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  padding: 42px;
  min-width: 600px;
  display: none;
}

.modal-add-restaurant.active {
  display: block;
}

.modal-add-restaurant h3 {
  font-size: 32px;
  margin-bottom: 24px;
  font-weight: 500;
}

.modal-content label {
  font-size: 16px;
  color: #b9b7b7;
  margin-bottom: 10px;
}

.modal-content input {
  padding: 16px;
  border: 1px solid #d7d7d7;
}

/* Modal détails restaurant */
#modal-details-restaurant {
  position: absolute;
  background: white;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  padding: 22px;
  min-width: 600px;
  display: none;
  flex-basis: 50;
}

.recovery-notice {
  padding: 12px;
  font-size: 16px;
}

#modal-content-restaurant .close {
  font-size: 1.2rem;
  position: absolute;
  right: 18px;
  top: 10px;
  padding: 1.4rem;
  cursor: pointer;
  color: #afafaf;
}

#modal-content-restaurant h2 {
  margin-top: 3rem;
  font-size: 1.8rem;
  border-bottom: 1px solid #efefef;
  padding-bottom: .5rem;
}

#modal-content-restaurant textarea {
  margin-top: 1rem !important;
  resize: none;
}

.star-container {
  font-size: 1.2rem;
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.star-container h3 {
  margin-bottom: 1.2rem;
  font-weight: 500;
}


.star-container .star-symbol-container {
  background: #eaeaea;
  padding: .6rem;
  margin-right: .5rem;
  margin-bottom: 1.2rem;
}

.fa-star {
  color: #c9c9c9;
}

.fa-star:hover {
  cursor: pointer;
}

.checked {
  color: #ff9f39;
}

.rating {
  margin-left: 0.35rem;
}

.open-modal {
  display: block;
}

.btn-details {
  border: none;
  padding: 1.5rem 2rem;
  margin-top: 1rem;
  cursor: pointer;
  background: #2196f3;
  color: white;
}

.btn-details:focus {
  outline: 0;
}

.btn-details:hover {
  background: rgba(33, 150, 243, 0.88);
}

.comm-container h3 {
  font-size: 1.4rem;
  margin-top: 1.8rem;
  font-weight: 500;
}

/* BTN */
.btn {
  background-color: #2196f3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.name-modal-restaurant {
  font-size: 2rem;
}

#pano {
  background-color: rgb(229, 227, 223);
  overflow: hidden;
  position: absolute;
  height: 392px;
  z-index: 9999;
  width: 50%;
  top: 290px;
}

.title-resto {
  font-size: 20px;
}

.address-resto {
  font-size: 14px;
}

.global-recup-resto {
  border-bottom: 1px solid #ececec;
  padding: 10px 0;
}

.moyenne-resto {
  font-size: 17px;
}

textarea{ resize:none;}