/* Reset */
html,
body,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

/* Helpers */
.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.m-b-16 {
  margin-bottom: 16px;
}

.m-t-16 {
  margin-top: 16px;
}

.mr {
  margin-right: 10px;
}

/* global */
body,
html {
  font-family: sans-serif;
  font-size: 62.5%;
}

h3 {
  font-size: 20px;
}

textarea {
  resize: none;
}

.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-blue {
  background: #2196f3;
}

.btn-blue:hover {
  background: #52abf2;
}

.btn-red {
  background: #ff2121;
}

.btn-red:hover {
  background: #fa4545;
}

.btn {
  transition: .1s ease-in-out;
}

.btn-details {
  border: none;
  padding: 1.5rem 2rem;
  margin-top: 1rem;
  cursor: pointer;
  background: #2196f3;
  color: white;
}

.btn-details:focus {
  outline: 0;
}

.btn-details:hover {
  background: rgba(33, 150, 243, 0.88);
}

.btn-filter {
  margin-top: 25px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.81);
  z-index: 10;
}

/* Section liste restaurants */
.content-restaurant {
  overflow: scroll;
  height: 100vh;
}

.content-restaurant li {
  cursor: pointer;
  list-style: none;
  font-size: 13px;
  padding: 12px 0;
  border-bottom: 1px solid #ececec;
  padding-left: 14px;
}

.content-restaurant li h3 {
  margin-bottom: 4px;
  color: #222;
}

.content-restaurant li p {
  color: #868686;
}

.content-restaurant li:hover {
  background: #f7f7f7;
}

/* Section map */
.map {
  width: 50%;
  height: 100vh;
  right: 0;
  position: absolute;
}

/* Modal détails restaurant */
.details-restaurant {
  flex-direction: column;
  position: absolute;
  background: white;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  min-width: 580px;
  display: none;
  flex-basis: 50;
  overflow: scroll;
  height: 650px;
}

.modal-details {
  border-bottom: 1px solid #ececec;
  padding: 60px 20px 20px 20px;
}

.modal-details .btn {
  margin-top: 12px;
}

.modal-details .close-modal,
.modal-add-restaurant .close-modal {
  font-size: 12px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #ccc;
  transition: .2s ease-in-out;
}

.modal-details .close-modal:hover,
.modal-add-restaurant .close-modal:hover {
  color: black;
}

.modal-details p.address-resto {
  font-size: 14px;
  color: #868686;
  margin-bottom: 12px;
}

#pano {
  background-color: rgb(229, 227, 223);
  overflow: hidden;
  height: 392px;
  z-index: 9999;
  width: 100%;
  margin-bottom: 32px;
}

#note {
  margin-bottom: 12px;
}

.rating {
  margin-left: 0.35rem;
  color: #ffb326;
}

.time-description {
  color: #aeaeae;
  margin-bottom: 8px;
}

.recovery-comment {
  font-size: 16px;
}

.recovery-comment div {
  border-bottom: 1px solid #ececec;
  padding: 20px;
}

.recovery-comment div h3 {
  font-size: 14px;
}

.recovery-comment div p {
  font-size: 13px;
  line-height: 17px;
}

.recovery-comment img {
  width: 48px;
}

.recovery-comment div:last-child {
  border-bottom: none;
}

/* Modal ajout restaurants */
.modal-add-restaurant {
  position: absolute;
  background: white;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  padding: 42px;
  min-width: 600px;
  display: none;
}

.modal-add-restaurant.active {
  display: block;
}

.modal-add-restaurant h3 {
  font-size: 32px;
  margin-bottom: 24px;
  font-weight: 500;
}

.modal-content label {
  font-size: 16px;
  color: #b9b7b7;
  margin-bottom: 10px;
}

.modal-content input {
  padding: 16px;
  border: 1px solid #d7d7d7;
}

.modal-content h3.title-resto {
  font-size: 20px;
  margin-bottom: 3px;
}

.modal-content input:focus,
.btn:focus {
  outline: none;
}

#modal-content-restaurant .close {
  font-size: 1.2rem;
  position: absolute;
  right: 18px;
  top: 10px;
  padding: 1.4rem;
  cursor: pointer;
  color: #afafaf;
}

#modal-content-restaurant h2 {
  margin-top: 3rem;
  font-size: 1.8rem;
  border-bottom: 1px solid #efefef;
  padding-bottom: .5rem;
}

#modal-content-restaurant textarea {
  margin-top: 1rem !important;
  resize: none;
}

section {
  position: absolute;
  flex-direction: column;
  width: 50%;
  background: white;
  z-index: 10;
  margin-top: 0;
  display: flex;
}

#form-add-restaurant input {
  font-size: 12px;
}

#restaurant-address {
  background: #e6e6e6;
  color: #a4a4a4;
}

#restaurant-address .moyenne {
  margin-bottom: 3px;
}

.container-restaurant {
  padding: 2rem;
}

.container-restaurant h2 {
  font-size: 2.4rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.container-restaurant p {
  font-size: 1.6rem;
  color: #545454;
}

#textarea-comment {
  width: 100%;
  min-height: 140px;
}

.star-container {
  font-size: 1.2rem;
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.star-container h3 {
  margin-bottom: 1.2rem;
  font-weight: 500;
}

.star-container .star-symbol-container {
  background: #eaeaea;
  padding: .6rem;
  margin-right: .5rem;
  margin-bottom: 1.2rem;
}

.fa-star {
  color: #c9c9c9;
}

.fa-star:hover {
  cursor: pointer;
}

.open-modal {
  display: block;
}

.comm-container h3 {
  font-size: 1.4rem;
  margin-top: 1.8rem;
  font-weight: 500;
}

.name-modal-restaurant {
  font-size: 2rem;
}

.global-recup-resto {
  border-bottom: 1px solid #ececec;
  padding: 10px 0;
}

.moyenne-resto {
  font-size: 17px;
}

.select-options {
  display: flex;
  flex-direction: column;
  padding: 22px 12px 43px 22px;
  background: #f2f2f2;
}

.select-options label {
  font-size: 14px;
  margin-bottom: 6px;
}

.select-style {
  display: flex;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 150px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  background: #fff;
  position: relative;
}
.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-style:after {
  top: 50%;
  left: 85%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 5px;
  margin-top: -2px;
  z-index: 100;
}
.select-style select:focus {
  outline: none;
}